{% extends '@Tilda/tilda/admin.html.twig' %}

{% block title %}{{ 'Edit QR code settings'|trans }}{% endblock %}
{% block body %}
    <style>
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
    </style>
    {% for message in app.flashes('error') %}
        <div class="flash-notice">
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <h1>{{ 'Edit static page'|trans }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">locale</th>
            <th scope="col">type</th>
            <th scope="col">url</th>
            <th scope="col">body</th>
            <th scope="col">meta</th>
            <th scope="col">alt</th>
            <th scope="col">to show</th>
            <th scope="col">page_id</th>
            <th scope="col">project_id</th>
            <th scope="col">show</th>
            <th scope="col">edit</th>
            <th scope="col">sync</th>
        </tr>
        </thead>
        <tbody>
        {% for page in tildaPages %}
            <tr>
                <th scope="row">{{ page.getId }}</th>
                <td>{{ page.locale }}</td>
                <td>{{ page.getType.getUrl }}</td>
                <td>{{ page.url }}</td>
                <td>{{ page.body|slice(0, 30) }}...</td>
                <td>{{ page.meta|slice(0, 30) }}...</td>
                <td>{{ page.alt }}</td>
                <td>{{ page.getToShow }}</td>
                <td>{{ page.pageId }}</td>
                <td>{{ page.projectId }}</td>
                <td><a href="{{ path(parameterBag.item, {'url': page.url, 'staticPageType': page.type.url, '_locale': page.locale }) }}">Show</a></td>
                <td><a href="{{ path('tilda_edit', {'id': page.getId}) }}">Edit</a></td>
                <td><a href="{{ path('tilda_sync_page', {'projectId': page.projectId, 'pageId': page.pageId}) }}">Sync</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if not tildaPageTypes %} {{ "Create tilda page type." }} {% endif %}
    <a class="btn btn-primary pull-right {% if not tildaPageTypes %} disabled {% endif %}" href="{{ path('tilda_sync_project') }}">{{ "Add new pages" }}</a>
    <h1>{{ 'Edit static page type'|trans }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
            <th scope="col">url</th>
            <th scope="col">meta</th>
            <th scope="col">meta_description</th>
            <th scope="col">meta_title</th>
            <th scope="col">description</th>
            <th scope="col">template</th>
            <th scope="col">page_heading</th>
            <th scope="col">page_img</th>
            <th scope="col">text_preview</th>
            <th scope="col">show</th>
            <th scope="col">edit</th>
        </tr>
        </thead>
        <tbody>
        {% for pageType in tildaPageTypes %}
            <tr>
                <th scope="row">{{ pageType.getId }}</th>
                <td>{{ pageType.title }}</td>
                <td>{{ pageType.url }}</td>
                <td>{{ pageType.meta|slice(0, 30) }}</td>
                <td>{{ pageType.metaDescription|slice(0, 30) }}...</td>
                <td>{{ pageType.metaTitle|slice(0, 30) }}...</td>
                <td>{{ pageType.description|slice(0, 30) }}...</td>
                <td>{{ pageType.template|slice(0, 30) }}...</td>
                <td>{{ pageType.pageHeading }}</td>
                <td><img src="/{{ pageType.pageImg }}" alt="img" width="50" height="50"></td>
                <td>{{ pageType.textPreview }}</td>
                <td><a href="{{ path(parameterBag.list, {'url': pageType.url}) }}">Show</a></td>
                {% if pageType and pageType.id %}
                    <td><a href="{{ path('tilda_type_edit', {'id': pageType.id}) }}">Edit</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pageType is not defined %}
        <a class="btn btn-primary pull-right" href="{{ path('tilda_type_edit', {'id': random(10000, 10000000)}) }}">Create new</a>
    {% endif %}
{% endblock %}