{{ form_start(form) }}
<br/>
<style>
    label{
        float: left;
    }
</style>
<div class="row">
    <div class="col-12">
        {{ form_label(form.title) }}
        <span class="text-danger">{{ form_errors(form.title) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.url) }}
        <span class="text-danger">{{ form_errors(form.url) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.url,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.meta) }}
        <span class="text-danger">{{ form_errors(form.meta) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.meta,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.meta_description) }}
        <span class="text-danger">{{ form_errors(form.meta_description) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.meta_description,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.meta_title) }}
        <span class="text-danger">{{ form_errors(form.meta_title) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.meta_title,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.description) }}
        <span class="text-danger">{{ form_errors(form.description) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.template) }}
        <span class="text-danger">{{ form_errors(form.template) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.template,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.page_heading) }}
        <span class="text-danger">{{ form_errors(form.page_heading) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.page_heading,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.page_img) }}
        <span class="text-danger">{{ form_errors(form.page_img) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.page_img,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.text_preview) }}
        <span class="text-danger">{{ form_errors(form.text_preview) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.text_preview,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>
</div>

<button class="btn btn-primary pull-right">{{ button_label|default('Save changes')|trans }}</button>

{{ form_end(form) }}
