<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{{ asset('assets/material-kit/assets/css/material-kit.css') }}" />
        <link rel="stylesheet" href="/assets/css/material-kit.min.css" />
        <link rel="stylesheet" href="{{ asset('assets/style.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        {% block additionalCss %}
        {% endblock %}
    {% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    <div style="width: 100%">{% block content %}{% endblock %}</div>
    {% block footer %}{% endblock %}
</body>
{% block javascripts %}
{#    {{ include('modal/30-sec-modal.html.twig') }}#}
{% endblock %}
</html>