{% extends '@Tilda/tilda/base.html.twig' %}
{% block title %}{% endblock %}
{% block meta %}
    {{ page.meta|raw }}
{% endblock %}
{% block additionalCss %}
    {% for css in files.css %}
        <link rel="stylesheet" href="/tilda/css/{{ css }}">
    {% endfor %}
{% endblock %}
{% block header %}{{ include(template.nav_top) }}{% endblock %}
      {% block content %}{{ page.body|raw }}{% endblock %}
{% block footer %}{{ include(template.footer) }}{% endblock %}
{% block javascripts %}
    {#    {{ include('modal/30-sec-modal.html.twig') }} #}
    {% for js in files.js %}
        <script rel="script" src="/tilda/js/{{ js }}"></script>
    {% endfor %}
{% endblock %}