{{ form_start(form) }}
<br/>
<style>
    label{
        float: left;
    }
</style>
<div class="row">
    <div class="col-12">
        {{ form_label(form.locale) }}
        <span class="text-danger">{{ form_errors(form.locale) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.locale,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.url) }}
        <span class="text-danger">{{ form_errors(form.url) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.url,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.body) }}
        <span class="text-danger">{{ form_errors(form.body) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.body,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.meta) }}
        <span class="text-danger">{{ form_errors(form.meta) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.meta) }}
        </div>
        {{ form_label(form.alt) }}
        <span class="text-danger">{{ form_errors(form.alt) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.alt) }}
        </div>
        {{ form_label(form.to_show) }}
        <span class="text-danger">{{ form_errors(form.to_show) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.to_show) }}
        </div>
        {{ form_label(form.previewImage) }}
        <span class="text-danger">{{ form_errors(form.previewImage) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.previewImage,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.previewText) }}
        <span class="text-danger">{{ form_errors(form.previewText) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.previewText,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.title) }}
        <span class="text-danger">{{ form_errors(form.title) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.type) }}
        <span class="text-danger">{{ form_errors(form.type) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.type,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.metaDescription) }}
        <span class="text-danger">{{ form_errors(form.metaDescription) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.metaDescription,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.metaTitle) }}
        <span class="text-danger">{{ form_errors(form.metaTitle) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.metaTitle,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_label(form.timeToReadInMinutes) }}
        <span class="text-danger">{{ form_errors(form.timeToReadInMinutes) }}</span>
        <div class="input-group mb-3">
            {{ form_widget(form.timeToReadInMinutes,{'attr':{'class':'form-control'}}) }}
        </div>
{#        {{ form_label(form.page_id) }}#}
{#        <span class="text-danger">{{ form_errors(form.page_id) }}</span>#}
{#        <div class="input-group mb-3">#}
{#            {{ form_widget(form.page_id,{'attr':{'class':'form-control'}}) }}#}
{#        </div>#}
{#        {{ form_label(form.project_id) }}#}
{#        <span class="text-danger">{{ form_errors(form.project_id) }}</span>#}
{#        <div class="input-group mb-3">#}
{#            {{ form_widget(form.project_id,{'attr':{'class':'form-control'}}) }}#}
{#        </div>#}
    </div>
</div>

<button class="btn btn-primary pull-right">{{ button_label|default('Save changes')|trans }}</button>

{{ form_end(form) }}
