{% extends '@Tilda/tilda/admin.html.twig' %}

{% block title %}{{ 'Edit tilda page'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-6 col-12 offset-md-3">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">{{ 'Tilda page settings'|trans }}</h4>
            </div>
            <div class="card-body text-center">
                {{ include('@Tilda/tilda/edit/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
